/* This is an example of using Sass, otherwise plain CSS works too*/

* {
  box-sizing: border-box;
  font-family: Oxygen, sans-serif;
  font-weight: 300;
}


body {
  background-image: url('https://backgroundcheckall.com/wp-content/uploads/2017/12/jeopardy-background-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  margin: 5%;
}

p {
  font-weight: 700;
  font-size: 17px;
  margin: 0% 0% 2% 0%;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;

}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.2);
    z-index: 5;
}

.hvr-trim {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}

.hvr-trim:before {
  content: '';
  position: absolute;
  border: white solid 4px;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.hvr-trim:hover:before, .hvr-trim:focus:before, .hvr-trim:active:before {
  opacity: 1;
}

.splash-screen__welcome,
.splash-screen__inputs {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  width: 100%;
}

.player-input {
  width: 25%;
  height: 30px;
  border-radius: 4%;
  border: none;
  margin-bottom: 5px;
}

.splash-input__field,
.splash-welcome__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}


.score-cards__display {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

div {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 580px;
}

.buttonStyled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  background-color: rgb(212, 134, 248);
  border-radius: 8px;
  background-image: linear-gradient(to top left,
  rgba(0, 0, 0, .2),
  rgba(0, 0, 0, .2) 30%,
  rgba(0, 0, 0, 0));
box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.buttonStyled:hover {
  background-color: rgb(108, 222, 250);
  border-radius: 8px;
}
.buttonStyled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.puzzle-table__display {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.board-column__section 
{
  display: flex;
  flex-direction: column;
  width: 20%;
}

.column-row__display
{
  margin: 0% 0% 1% 1%;
  height: 25%;
  border-radius: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: end;
  font-size: 42px;
  font-weight: 800;
  color: goldenrod;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  background-color: navy;
  opacity: 0.95;
  filter: drop-shadow(2px 4px 6px black);
}

.column-header__category {
  margin: 0% 0% 1% 1%;
  height: 12%;
  border-radius: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: end;
  font-size: 23px;
  font-weight: 800;
  color: white;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  background-color: navy;
  opacity: 0.95;
  filter: drop-shadow(2px 4px 6px black);
}

.player-scorecard {
  height: 12%;
  width: 16%;
  border-radius: 7%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  // align-content: end;
  font-size: 23px;
  font-weight: 800;
  color: white;
  border: black solid 5px;
  background-color: navy;
  opacity: 0.95;
  filter: drop-shadow(2px 4px 6px black);
}

.alert-question__display {
  width: 90%;
  height: 850px;
  border-radius: 7%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 750px;
  border-radius: 7%;
  flex-direction: column;
  display: flex;
  align-content: center;
  font-size: 42px;
  font-weight: 800;
  color: goldenrod;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  background-color: navy;
  opacity: 0.95;
  filter: drop-shadow(2px 4px 6px black);
}



