/* This is an example of using Sass, otherwise plain CSS works too*/

* {
  box-sizing: border-box;
  font-family: Oxygen, sans-serif;
  font-weight: 300;
}
$primary-background: rgb(99, 147, 250);

body {
  background-image: url('https://backgroundcheckall.com/wp-content/uploads/2017/12/jeopardy-background-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  margin: 5%;
}

p {
  font-weight: 700;
  font-size: 17px;
  margin: 0% 0% 2% 0%;
}
// main{
//   display: flex;
//   justify-content: center;
// }

.splash-screen__welcome,
.splash-screen__inputs {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  width: 100%;
}

.player-input {
  width: 25%;
  height: 30px;
  border-radius: 4%;
  border: none;
  margin-bottom: 5px;
}

.splash-input__field,
.splash-welcome__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}


.score-cards__display {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 580px;
}
.grid-item {
  background-color: rgba(138, 221, 234, 0.53);
  border: solid 4px rgba(138, 221, 234, 0.97);
  border-radius: 5% 5% 5% 5%;
  float: left;
  grid-auto-columns: 4;
  grid-auto-rows: auto; 
  padding: 15px;
  width: 27%;
}

.buttonStyled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  background-color: rgb(212, 134, 248);
  border-radius: 8px;
  background-image: linear-gradient(to top left,
  rgba(0, 0, 0, .2),
  rgba(0, 0, 0, .2) 30%,
  rgba(0, 0, 0, 0));
box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.buttonStyled:hover {
  background-color: rgb(108, 222, 250);
  border-radius: 8px;
}
.buttonStyled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.puzzle-table__display {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.board-column__section 
{
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  width: 20%;
}

.column-row__display
{
  margin: 0% 0% 1% 1%;
  height: 25%;
  border-radius: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: end;
  font-size: 42px;
  font-weight: 800;
  color: goldenrod;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  background-color: navy;
  opacity: 0.95;
}

.column-header__category {
  margin: 0% 0% 1% 1%;
  height: 12%;
  border-radius: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: end;
  font-size: 23px;
  font-weight: 800;
  color: white;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  background-color: navy;
  opacity: 0.95;
}

.player-scorecard {
  height: 12%;
  width: 16%;
  border-radius: 7%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: end;
  font-size: 23px;
  font-weight: 800;
  color: white;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  background-color: navy;
   opacity: 0.95;
}
